body {
    background: #348AA7;
    font-family: 'Josefin Sans', sans-serif;
    color: #363635;
}

#body-container {
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
}

a {
    text-decoration: none;
    text-decoration: underline;
    font-weight: 600;
    color: #363635;
}

a:hover {
    text-decoration: none;
    color: #E6AF2E;
}

.header-col {
    position: relative;
    width: 50%;
    text-align: left;
}

#parts-list {
    float: left;
    text-align: left;
}

#print-instruction {
    float: right;
    text-align: left;
}

.line-break {
    width: 100%;
    position: relative;
    float: left;
    border-bottom: rgba(0,0,0,0.2) solid 2px;
}

#parts-description {
    position: relative;
    float: left;
}

#parts-description-img {
    position: relative;
    float: left;
    width: 80%;
}

#parts-description-list {
    text-align: left;
    position: relative;
    float: right;
    width: 18%;
    margin-left: 1%;
    margin-top: 24px;
    margin-bottom: 20px;
}

.margin-bottom-sm {
    margin-bottom: 8px;
}

@media (max-width: 1200px){
    .header-col {
        width: 100%;
    }

    #parts-description-img {
        width: 100%;
    }
    
    #parts-description-list {
        text-align: left;
        width: 100%;
    }

    .part-description-item {
        text-align: left;
        position: relative;
        width: 50%;
    }

    .float-left {
        position: relative;
        float: left;
    }

    .float-right {
        position: relative;
        float: right;
    }
}