body {
    /* background: #BCE784; */
    /* background: #5DD39E; */
    background: #348AA7;
    /* background: #525174; */
    /* background: #513B56; */
    font-family: 'Josefin Sans', sans-serif;
    color: #363635;
}

#header {
    position: fixed;
    width: 20%;
}

#head-name {
    position: relative;
    font-size: 32px;
    font-weight: 600;
    padding: 12px;
    text-decoration: none;
}

#head-links {
    margin-top: 20px;
    padding-left: 12px;
}

.head-link {
    margin-top: 12px;
}

a {
    text-decoration: none;
    color: #363635;
}

a:hover {
    text-decoration: none;
    color: #E6AF2E;
}

#body-container {
    position: relative;
    float: left;
    margin-left: 20%;
    margin-top: 2%;
    width: 70%;
}

.project-card {
    border: #363635 1px solid;
}

.card-img {
    position: relative;
    float: left;
    width: 40%;
    padding: 12px;
}

.card-title {
    font-size: 24px;
    padding: 6px;
}

.read-more {
    position: relative;
    float: right;
    padding: 6px;
}