body {
    /* background: #BCE784; */
    /* background: #5DD39E; */
    background: #348AA7;
    /* background: #525174; */
    /* background: #513B56; */
}

#head-name {
    font-size: 32px;
    font-weight: 600;
    width: 100%;
}

#body-container {
    margin: 5%;
    width: 90%;
}

.home-card {
    position: relative;
    float: left;
    width: 49%;
}

.home-card:hover {
    cursor: pointer;
}

.home-card img {
    width: 100%;
}