body {
    /* background: #BCE784; */
    /* background: #5DD39E; */
    background: #348AA7;
    /* background: #525174; */
    /* background: #513B56; */
    font-family: 'Josefin Sans', sans-serif;
    color: #363635;
}

#header {
    position: fixed;
    width: 20%;
    user-select: none;
}

#head-name {
    position: relative;
    font-size: 32px;
    font-weight: 600;
    padding: 12px;
    text-decoration: none;
}

#head-name:hover {
    color: #E6AF2E;
    cursor: pointer;
}

#head-links {
    margin-top: 20px;
    padding-left: 12px;
}

.head-link {
    margin-top: 12px;
}

.head-link:hover {
    color: #E6AF2E;
    cursor: pointer;
}

#mobile-header {
    user-select: none;
    display: none;
    width: 110%;
    background: #348AA7;
    position: fixed;
    top: 0px;
    width: 700px;
    z-index: 100;
}

#mobile-head-name {
    position: relative;
    float: left;
    font-size: 32px;
    font-weight: 600;
    padding: 12px;
    text-decoration: none;
}

#mobile-head-name:hover {
    color: #E6AF2E;
    cursor: pointer;
}

#mobile-menu-btn {
    position: relative;
    float: left;
    width: 32px;
    padding: 8px;
}

#mobile-menu-icon:hover {
    cursor: pointer;
}

#mobile-menu-icon {
    width: 100%;
    background: rgba(0,0,0,0.2);
    border-radius: 2px;
}

#mobile-head-links {
    display: none;
    position: absolute;
    padding-bottom: 6px;
    top: 52px;
    background: #348AA7;
    width: 100%;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

.mobile-head-link {
    padding: 4px;
    margin-left: 12px;
}

.mobile-head-link:hover {
    color: #E6AF2E;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #363635;
}

a:hover {
    text-decoration: none;
    color: #E6AF2E;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#body-container {
    width: 800px;
    margin-top: 2%;
    margin-left: 1%;
}

.project-card {
    position: relative;
    border-bottom: #fffffa 4px solid;
    border-left: #fffffa 4px solid;
    max-width: 800px;
    max-height: 300px;
    height: 225px;
    margin-bottom: 40px;
}

.card-img {
    position: relative;
    float: left;
    padding: 12px;
    max-width: 300px;
    max-height: 200px;
}

.card-title {
    font-size: 24px;
    padding: 6px;
    padding-top: 14px;
    margin-bottom: 20px;
    cursor: default;
}

.card-txt {
    cursor: default;
}

.read-more {
    user-select: none;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 6px;
    background: rgba(0,0,0,0.2);
}

.read-more:hover {
    text-decoration: none;
    color: #E6AF2E;
    cursor: pointer;
}

#contact-container {
    display: none;
    margin-top: 3%;
    margin-bottom: 40px;
}

#footer {
    position: relative;
    top: -6px;
    text-align: center;
}

#footer-icon-container {
    position: relative;
    float: right;
    top: -9px;
    padding-left: 8px;
}

.footer-icon {
    width: 20px;
    padding: 4px;
}

.footer-icon-img {
    width: 100%;
    opacity: 0.5;
}

@media (max-width: 1400px){
    #body-container {
        width: 750px;
        margin-left: 5%;
    }
}


@media (max-width: 1200px){
    #body-container {
        width: 700px;
        margin-left: 10%;
    }
    .card-title {
        margin-bottom: 4px;
    }
}

@media (max-width: 1050px){
    #body-container {
        width: 700px;
        margin-left: 0%;
        margin-top: 6%;
    }
    .card-title {
        margin-bottom: 4px;
    }
    #header {
        display: none;
    }

    #mobile-header {
        display: inline-block;
    }

    #mobile-head-name{

    }
}

@media (max-width: 800px){
    .card-img {
        width: 250px;
    }
    #body-container {
        width: 600px;
        margin-top: 7%;
    }
    #mobile-header {
        width: 600px;
    }
    .card-txt {
        font-size: 14px;
    }
    .card-title {
        font-size: 22px;
        padding-top: 6px;
    }
    .project-card {
        height: 196px;
    }
}

@media (max-width: 650px){
    #body-container {
        width: 500px;
        margin-top: 9%;
    }
    #mobile-header {
        width: 500px;
    }
    .card-txt-container {
        height: 180px; /* Set the height of the container to fit two lines of text */
        overflow: hidden;
        position: relative;
    }
    .card-txt {
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 35px;
    }
    .card-title {
        margin-bottom: 0px;
        position: absolute;
        margin-left: 6px;
        padding-top: 0px;
    }
    .card-img {
        width: 228px;
        margin-top: 16px;
    }
}

@media (max-width: 550px){
    #body-container {
        margin-top: 11%;
    }
    .card-img {
        width: 180px;
        margin-top: 22px;
    }
    #mobile-header {
        width: 100%;
    }
}

@media (max-width: 450px){
    #body-container {
        margin-top: 14%;
    }
    .card-img {
        width: 150px;
        margin-top: 34px;
    }
    .read-more {
        left: 0;
        margin-left: 12px;
        width: 138px;
        bottom: 22px;
    }
    .card-txt {
        -webkit-line-clamp: 10;
    }
    .card-txt-container {
        height: 190px;
    }
    .project-card {
        height: 196px;
    }
}

@media (max-width: 375px){
    #body-container {
        margin-top: 16%;
    }
}

@media (max-width: 325px){
    #body-container {
        margin-top: 18%;
    }
}